.footer {
    background-color: #33323D;
}
.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__nav {
    display: flex;
    align-items: center;
}
.footer__content-logo {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 48px;
}
.footer__nav-link {
    color: #FFF;
    font-family: Public Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;    
}

.footer__nav-link:hover{
    color: #5FB4A2;  
}

.footer__nav-link:not(:last-child){
    margin-right: 42px;
}
.footer__content-icon :not(:last-child) {
    margin-right: 15px;
}

@media only screen and (max-width: 615px) {
    .footer__nav-link:not(:last-child){
        margin-right: 15px;
    }
    
}
@media only screen and (max-width: 570px) {
    .footer__content-logo{
        margin: 0;
        margin-top: 56px;
        margin-bottom: 40px;
    }
    .footer__content {
        flex-direction: column;
    }
    .footer__nav {
        flex-direction: column;
    }
    .footer__nav-link{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footer__nav-link:not(:last-child){
        margin-bottom: 32px;
        margin-right: 0;
    }
    .footer__content-icon{
        margin-bottom: 56px;
        margin-top: 40px;
    }
}