.site-btn {
    padding: 17px 35px 17px 32px;
    border: 1px solid #33323D;
    color: #33323D;
    font-family: Public Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;   
    background-color: transparent; 
    transition: transform 0.5s ease;
}

.site-btn:hover{
    background: #33323D;
    transform: scale(0.9);
    color: #FFF;
    text-align: center;
    font-family: PublicSans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

